---
- name: "Check for nutanix-exporter binary"
  ansible.builtin.stat:
    path: '{{ nutanix_exporter_install_dir }}/nutanix-exporter'
  changed_when: false
  register: nutanix_binary

- name: "Install tasks"
  when: not nutanix_binary.stat.exists or nutanix_exporter_force_install|bool
  block:
    - name: "Install requierements"
      ansible.builtin.package:
        name: "ca-certificates"
        state: present
      register: __pkg_result
      retries: 12
      delay: 10
      until: __pkg_result is success

    - name: "Download nutanix-exporter..."
      ansible.builtin.get_url:
        url: '{{ nutanix_exporter_url }}'
        dest: '{{ nutanix_exporter_install_dir }}/nutanix-exporter'
        timeout: '60'
        mode: '0755'

    - name: "Ensure install dir exists"
      ansible.builtin.file:
        path: '{{ item }}'
        state: directory
        mode: '0755'
      with_items:
        - '{{ nutanix_exporter_install_dir }}'
        - '{{ nutanix_exporter_config_dir }}'

- name: "Create config file"
  ansible.builtin.template:
    src: 'config.yml.j2'
    dest: '{{ nutanix_exporter_config_dir }}/config.yml'
    mode: '0644'
  notify: "Restart nutanix_exporter"

- name: "Create symtemd for nutanix_exporter"
  ansible.builtin.template:
    src: 'nutanix_exporter.service.j2'
    dest: '/etc/systemd/system/nutanix_exporter.service'
    mode: '0640'
  notify: "Restart nutanix_exporter"

- name: "Enable and Start nutanix_exporter.service"
  ansible.builtin.service:
    name: nutanix_exporter
    state: started
    enabled: true
    daemon_reload: true
